@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}
  
:root {
--card-height: 30vh;
--card-width: calc(var(--card-height) / 1.5);
}

body {
    box-sizing: border-box;
	overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}